body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #060606;
}

h1 {
    color: #fafbfc;
    margin: 0;
}

p {
    color: #fafbfc;
    margin-top: 10px;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.left-section, .right-section {
    flex: 1;
    margin-right: 20px;
}

.left-section {
    max-width: 300px;
}

form {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #b4b3b3;
    border-radius: 5px;
    background-color: #b4b3b3;
    color: #0e0e0e;
}

form>button {
    width: 75px;
}

form div {
    margin-bottom: 5px;
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #0e0e0e;
}

select, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fdfcfb;
}

button, .button {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 2px;
    padding: 2px 5px;
    background-color: #b4b3b3;
    color: #0e0e0e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-item {
    background-color: #b4b3b3;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    color: #0e0e0e;
}

.order-item ul {
    padding: 0;
    list-style-type: none;
}

.order-item ul li {
    background-color: #b4b3b3;
    color: #0f1010;
    padding: 2px 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-item ul li form {
    display: inline;
}

.order-item ul li button {
    padding: 2px 5px;
}

.logout-form {
    margin-left: 20px;
}

.right-section .close-button {
    float: right;
    margin-left: 10px;
}
